.NotFound {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

h1 {
    font-size: 5rem;
}

h4 {
    margin-bottom: 30px;
}

.links > a {
    margin: 5px;
}