.red {
    background-color: #E27D60; /* rgb(226,125,96) */
}

.blue {
    background-color: #85CDCB; /* rgb(133,205,203) */
}

.tan {
    background-color: #E8A87C; /* rgb(232,168,124) */
}

.purple {
    background-color: #C38D9E; /* rgb(195,141,158) */
}

.green {
    background-color: #41B3A3; /* rgb(65,179,163) */
}