@import "utilities/Variables";

$ad-margin: 60px;

.Banner {
    background-color: rgb(240,240,240);
    display: flex;
    justify-content: center;
}

#ad {
    background-color: gray;
    width: 320px;
    height: $banner-height;
    margin-left: $ad-margin;
    margin-right: $ad-margin;

    // Remove when ads get approved
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    user-select: none;
}