.Banner {
    background-color: lightgray;
    display: flex;
    justify-content: center;
}

.ad {
    background-color: red;
    width: 728px;
    height: 90px;
}

.menu-button {
    margin: 10px 20px;
}