.top-row {
    padding: 5px;
    background: white;
    display: block;
}

.board {
    padding: 5px;
    border: 1px solid black;
    background: yellow;
    display: block;
}

.circle {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.blank { background: white; }
.blue { background: #89aeb2; }
.red { background: #d2a3a9; }
.border-white { border: 1px solid white; }
.border-black { border: 1px solid black; }